.theme-toggle {
    background: #fff;
    color: #000;
}

html {
    color: rgb(183, 194, 200);
    background: rgb(32, 27, 27) !important;
}

::-webkit-scrollbar-button {
    background-color: #3e4346 !important;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #242424 !important;
    border: 2px solid #3e4346 !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

body {
    background: rgb(46, 46, 46);
    color: rgb(183, 194, 200);
}

.whit-e-svg-signet {
    content: url(/images/signet_negative.svg);
}

.whit-e-nav-logo .svg-logo-light{
    display: none;
}

.whit-e-nav-logo .svg-logo-dark{
    display: block;
}

.whit-e-nav-logo-mob .svg-logo-light{
    display: none;
}

.whit-e-nav-logo-mob .svg-logo-dark{
    display: block;
}

.whit-e-head {
    border-bottom: 1px solid rgb(24, 48, 62);
    background: rgba(32, 27, 27, 0.97);
}

.whit-e-navbar-item {
    color: rgb(183, 195, 200);
}

.whit-e-navbar-btn {
    color: rgb(183, 195, 200);
}

.whit-e-btn {
    background: rgb(60,60,60);
}

.whit-e-mobilehead {
    box-shadow: rgb(32, 27, 27) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.02) 0px 1px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background: rgba(32, 27, 27, 0.97);
}

.whit-e-mobilemenu a {
    color: rgb(183, 195, 200);
    border-bottom: 1px solid rgb(24, 48, 62);
}

.posting {
    box-shadow: rgba(105, 105, 105, 0.11) 8px 14px 38px, rgba(94, 94, 94, 0.31) 1px 3px 8px;
    background: 50% center / cover rgb(32, 27, 27);
}

.posting:hover {
    background-color: rgb(36, 36, 36);
    box-shadow: rgba(89, 89, 89, 0.58) 0px 0px 1px, rgba(79, 79, 79, 0.24) 0px 3px 16px;
}

.posting-content-link {
color: rgb(183, 194, 200); 
}

.static {
    box-shadow: rgba(105, 105, 105, 0.11) 8px 14px 38px, rgba(94, 94, 94, 0.31) 1px 3px 8px;
    background: 0% 0% / cover rgb(28, 28, 28);
}

.markdown-body {
    color: rgb(183, 194, 200) !important;
}

.markdown-body h2 {
    border-bottom: 1px solid rgb(43, 43, 43) !important;
}

.markdown-body a {
    color: rgb(153, 189, 230) !important;
}

.markdown-body blockquote {
    color: rgb(186, 191, 196) !important;
    border-left: 0.25em solid rgb(54, 54, 54) !important;
}