.whit-e-btn{
    display:inline-block;
    outline:none;
    border:1px solid #ccdfeb;
    color:#738a94;
    text-decoration:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    fill:#738a94;
    border-radius:5px;
    transition:none;
    -webkit-font-smoothing:subpixel-antialiased
}

.whit-e-head{
    position:relative;
    z-index:3;
    margin-bottom:40px;
    padding:0 4vw;
    width:100%;
    border-bottom:1px solid #e5eff5;
    background:hsla(0,0%,100%,.97)
}
.whit-e-navbar{
    -ms-flex-pack:justify;
    justify-content:space-between;
    height:55px;
    font-size:13px
}
.whit-e-navbar,.whit-e-navbar-left,.whit-e-navbar-right{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center
}
.whit-e-nav-logo{
    -ms-flex-negative:0;
    flex-shrink:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    margin-left:-12px;
    color:#738a94
}
.whit-e-nav-item.whit-e-nav-logo:hover{
    color:inherit
}
.whit-e-nav-logo .whit-e-svg-signet{
    width:10px;
    height:20px;
}
.whit-e-nav-logo .svg-logo-light{
    height:30px;
    width: 140px;
    margin-left: 5px;
    display: block;
}
.whit-e-nav-logo .svg-logo-dark{
    height:30px;
    width: 140px;
    margin-left: 5px;
    display: none;
}

.whit-e-nav-logo-suffix{
    position:relative;
    margin:0 0 0 12px;
    padding:0 0 0 11px;
    font-size:1.6rem;
    font-weight:400;
    text-shadow:none;
    transition:none
}
.whit-e-nav-logo-suffix:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:1px;
    height:23px;
    background:#d3e4ee;
    transform:rotate(25deg)
}
.whit-e-navbar-item{
    -ms-flex-negative:0;
    flex-shrink:0;
    display:block;
    padding:10px 12px;
    color:#738a94;
    font-weight:500;
    text-decoration:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.whit-e-drop.active .whit-e-drop-trigger,.whit-e-navbar-item-active,.whit-e-navbar-item:hover{
    color:#343f44;
    text-decoration:none
}
.whit-e-navbar-item:hover .whit-e-nav-logo-suffix{
    color:inherit
}
.whit-e-navbar-btn{
    margin-left:10px;
    color:#738a94;
    transition:all .5s ease
}
.whit-e-navbar-btn img {
    width: 19px;
    height: 19px;
    margin-bottom: 2px;
    margin-left: 5px;
}
.whit-e-navbar-btn span{
    padding: 8px 10px;
    padding-left: 1px;
    min-width: 66px;
    height: auto;
    line-height: 1;
    text-align: center;
}

.whit-e-mobilehead{
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    display:none;
    overflow:hidden;
    width:100%;
    height:48px;
    border-bottom:1px solid rgba(0,0,0,.05);
    background:hsla(0,0%,100%,.97);
    box-shadow:inset 0 -1px 0 0 #fff,0 1px 5px rgba(0,0,0,.02);
    transition:all .5s ease-out,background 1s ease-out;
    transition-delay:.2s;
    -webkit-backdrop-filter:blur(3px)
}
.whit-e-nav-logo,.whit-e-nav-logo:hover{
    color:#26a8ed
}
.whit-e-head{
    margin-bottom:0
}
.whit-e-dropdown,.whit-e-mobiilehead-open,.whit-e-mobilehead{
    z-index:4
}