<title>404 - Page not found</title>

<main id="site-main" class="site-main outer">
    <div class="inner static">
		<div class="full-width white">
			<img src="/images/404.jpg" alt="404error image"/> 
		</div>
    </div>
</main>
