<main id="site-main" class="site-main outer">
    <div class="login">
        <link rel='stylesheet' href='/stylesheets/web/admin/login.css' />
        <h1>Login</h1>
        <form action="/admin/login" method="post">
            <input type="text" name="logemail" placeholder="Email" required="required" />
            <input type="password" name="logpassword" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
    </div>
</main>