<!--  for users only -->
<% if(locals.loggedIn && loggedIn) { %>


<% } %>

<a class="whit-e-navbar-item" href="/">Home</a>
<a class="whit-e-navbar-item" href="/archive">Archive</a>
<a class="whit-e-navbar-item" href="https://weisser.dev">About</a>
<a class="whit-e-navbar-btn whit-e-btn" href="https://github.com/whit-e">
    <% if(!locals.amp || !amp) {%>
        <img height="15px" width="15px" src="/images/GitHub-Mark-32px.png" alt="GitHub.com Logo"/>
    <% } %>
    <span>Github</span>
</a>