<main id="site-main-index" class="site-main outer " role="main">
        <div class="inner">
            <div class="news-feed"> 
                    <article>
                        <h2>Archive</h2>
                        <p></p>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Title</th>
                                    <th>Time</th>
                                </tr>
                                <% data.forEach(function(data){ %>
                                <tr>
                                    <td><a href="/articles/why-prefer-fp"><%- data.title %></a></td>
                                    <td><%= moment(data.time).format( 'DD-MMM-YYYY') %></td>
                                </tr>
                                <% });%>
                            </tbody>
                        </table>
                        <p></p>
                    </article>
               </div>
        </div>
    </main>