<section id="comments" class="comments">
        <div class="inner static">
            <form id="update" name="update" action="/article/<%= data.id %>/createComment" method="post">     
                <button type="submit" class="btn-form-top btn btn-primary btn-block btn-large">Update Article.</button>
                <input type="text" name="author" placeholder="Author" required="required" />
                <input type="text" name="email" placeholder="E-Mail" required="required" />
                <input type="text" name="description" placeholder="description" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Send Comment.</button>
            </form>
        </div>
    </section>