<!DOCTYPE html>
<html    <% if(locals.amp && amp) { %> amp <% } %>lang="en">
    <%- include head.ejs %>
    <body>
        <div class="site-wrapper">
            <!-- Header -->
            <%- include header.ejs %>
            <!-- /Header -->

            <!-- Content -->
            <%- include(page) %>
            <!-- /Content -->

            <!-- Toggle for Darkmode and Lightmode-->
            <% if(!locals.amp || !amp) { %>
                <div class="theme-toggle" onclick="changeTheme()">🌓</div>
                <script type="text/javascript" src="/js/theme.js"></script>
            <% } %>
            <!-- /toggle -->
            
            <!-- Footer -->
            <%- include footer.ejs %>
            <!-- /Footer -->
        </div>

    </body>
</html>