<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="https://weisser.dev">weisser.dev</a> © <%= new Date().getFullYear() %></section>
        <nav class="site-footer-nav">
			<a href="/friends">Friends</a>
			<a href="/static/impressum">Impressum</a>
		</nav>
		<div>
			<a style="font-size: 80%;" href="https://endless.beer">Created with Beer, Cheers! 
				<% if(!locals.amp || !amp) { %>
				<img src="https://endless.beer/favicon.png" width="12" height="12" title="tasty beer" alt="Beer!" style="margin-top: -3px;"></img>
				<% } %>
			</a>
			<a class="rss-icon" style="font-size: 80%;" href="/rss.xml"> 
				<% if(!locals.amp || !amp) { %>
				<amp-img src="/images/rss-icon.svg" width="20" height="20" title="RSS Feed" alt="RSS Feed" style="margin-top: -3px;"></amp-img> RSS
				<% } %>
			</a>
		</div>
    </div>
</footer>

<!-- Styles -->
<% if(!locals.amp || !amp) { %>
	<link rel='stylesheet' href='/stylesheets/mob/header.css' />
	<link rel='stylesheet' href='/stylesheets/mob/main.css' />
	<link rel='stylesheet' href='/stylesheets/web/footer.css' />
	<!-- for dark theme-->
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/mobilehead.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" data-cfasync="false"></script>
	<script>
	window.addEventListener('load', function(){
	  window.cookieconsent.initialise({
		"palette": {
			"popup": {
			  "background": "#edeff5",
			  "text": "#838391"
			},
			"button": {
			  "background": "transparent",
			  "text": "#4b81e8",
			  "border": "#4b81e8"
			}
		  },
		  "type": "opt-out",
		  "content": {
			"href": "/static/impressum#datenschutz"
		  },
		onInitialise: function(status) {
		  if(status == cookieconsent.status.allow) myScripts();
		},
		onStatusChange: function(status) {
		  if (this.hasConsented()) myScripts();
		}
	  })
	});

	function myScripts() {
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-114049217-1', 'auto');
		  ga('send', 'pageview');
	}
	</script>
	
<% } %>
